<form action='/fire' method='post'>
  You have placed all your ships. Now you can shoot.<br>
  Please enter the coordinate you want to fire at:<br>
  <input type='text' name='fire' required>
  <input type='submit' value='fire'>
</form>

<%= @board %>
