

  <form action="/place_ships" method='post'>
    Please, place your ship <br><br>
    Size: <input type="text" name="size" required><br><br>
    Coordinate: <input type="text" name="coord" required><br><br>
    Direction: <input type="text" name="direction" required><br><br>
    <input type="submit" value="place">
  </form>

<%=@grid%>